@page
@model Karten
@{
    ViewData["Title"] = "Karten page";
}
<div>
    <h1> you  make any desing with your cards </h1>
    <ul>
    <li>
         <h4>See all your searched words</h4>
       <button type="submit" class="btn btn-secondary">search history </button>
    </li>
        <h4>click To change To-dark modus</h4>
        <button type="submit" class="btn btn-secondary">dark </button>
    </li>
    </ul>
</div>